

.dialog-form-content{
    padding-top: none !important;
    padding: 15px 10px 5px 10px !important;
    border-radius: 15px !important;
}

.row-title{
    display: flex !important;
    padding: 10px 10px 5px 6px !important;
    background-color: #0422D8;
    justify-content: space-between !important;
    color: #FFFF;
}

.input-content-form{
    margin: 0 10px 0px 10px !important;
}